<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Registro De Usuarios</h3>
    </div>
    <div class="card-body">
      <form >
        <div class="form-group">
          <label>Primer Apellido:</label>
          <input required type="text" max="50" class="form-control" [(ngModel)]= "user.apellido1" name="apellido1" (ngModelChange)="user.apellido1 = $event.toUpperCase()" />
        </div>
        <div class="form-group">
          <label>Segundo Apellido:</label>
          <input required type="text" max="50" class="form-control" [(ngModel)]= "user.apellido2" name="apellido2" (ngModelChange)="user.apellido2 = $event.toUpperCase()" />
        </div>
        <div class="form-group">
          <label>Primer Nombre:</label>
          <input required type="text" max="50" class="form-control" [(ngModel)]= "user.nombre1" name="nombre1" (ngModelChange)="user.nombre1 = $event.toUpperCase()" />
        </div>
        <div class="form-group">
          <label>Otro Nombre:</label>
          <input required type="text" max="50" class="form-control" [(ngModel)]= "user.nombre2" name="nombre2" (ngModelChange)="user.nombre2 = $event.toUpperCase()" />
        </div>
        <div class="form-group">
          <label>País:</label>
          <select required class="browser-default custom-select" [(ngModel)]="user.paisEmpleo" name="paisEmpleo">
            <option disabled selected>País</option>
            <option value="Colombia">Colombia</option>
            <option value="EEUU">EEUU</option>
          </select>
        </div>
        <div class="form-group">
          <label>Tipo de identificación:</label>
          <select required class="browser-default custom-select" [(ngModel)]="user.tipoDocumento" name="tipoDocumento">
            <option disabled selected>Tipo de identificación</option>
            <option value="Cedula de ciudadania">Cedula de Ciudadania</option>
            <option value="Cedula de Extrangería">Cedula de Extrangería</option>
            <option value="Pasaporte">Pasaporte</option>
            <option value="Permiso Especial">Permiso Especial</option>
          </select>
        </div>
        <div class="form-group">
          <label>Numero identificación:</label>
          <input required type="text" max="20" class="form-control" [(ngModel)]= "user.numeroDocumento" name="numeroDocumento" />
        </div>
        <div class="form-group">
          <label>Correo electronico:</label>
          <input required type="email" max="300" class="form-control" [(ngModel)]= "user.correo" name="correo"/>
        </div>
        <div class="form-group">
          <label>Fecha de ingreso:</label>
          <input required type="date" [min]="previousDate" [max]="currentDate" class="form-control" [(ngModel)]= "user.fechaIngreso" name="fechaIngreso" />
        </div>
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input required name="estado" type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]= "user.estado" disabled/>
            <label class="custom-control-label" for="customSwitch1">Estado</label>
          </div>
        </div>
        <div class="form-group">
          <label>Fecha y hora de registro:</label>
          <input required type="datetime-local"  value="2018-06-12T19:30" class="form-control" [(ngModel)]= "user.fechaRegistro" name="fechaRegistro" disabled/>
        </div>
        <!-- <div class="form-group">
          <select required class="browser-default custom-select" [(ngModel)]="user.idDependency" name="dependency">
            <option disabled selected>Seleccione Dependencia</option>
            <option *ngFor="let dependency of listDependency" value="{{dependency.idDependency}}">{{dependency.nameDependency}}</option>
          </select>
        </div>
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input required name="status" type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]= "user.status" />
            <label class="custom-control-label" for="customSwitch1">Estado</label>
          </div>
        </div> -->
        <button type="submit" (click)="save()" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>
