<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 style="display: inline-block;" >Lista De Usuarios</h3>
      <div style="float: right;"><b>Registrar Usuario</b>
      <button (click)="register()" class="btn btn-success btn-circle btn-circle-sm m-1"><i class="fa fa-plus" aria-hidden="true"></i></button>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-hover">
      <thead>
        <tr class="text-center">
          <th>Primer Apellido</th>
          <th>Segundo Apellido</th>
          <th>Primer Nombre</th>
          <th>Otro Nombre</th>
          <th>País</th>
          <th>Tipo Id</th>
          <th>Id</th>
          <th>correo</th>
          <th>Estado</th>

          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of listUsers" class="text-center">
          <td>{{user.apellido1}}</td>
          <td>{{user.apellido2}}</td>
          <td>{{user.nombre1}}</td>
          <td>{{user.nombre2}}</td>
          <td>{{user.paisEmpleo}}</td>
          <td>{{user.tipoDocumento}}</td>
          <td>{{user.numeroDocumento}}</td>
          <td>{{user.correo}}</td>
          <td>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1" [checked]="user.estado" disabled/>
              <label class="custom-control-label" for="customSwitch1"></label>
            </div>
          </td>
          <td>
            <button class="btn btn-warning" style="margin-right: 4px;" (click)="initDisplayUpdate(user)" data-toggle="modal" data-target="#editModal">Editar</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="delete(user.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>


<!-- Modal Acualizar-->
<div *ngIf="displayUpdate" data-backdrop="static" class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Editar Empleado</h5>
      </div>
      <div class="modal-body">



        <div class="container">
          <div class="card">
            <div class="card-header">
              <h3>Editar Empleado</h3>
            </div>
            <div class="card-body">
              <form >
                <div class="form-group">
                  <label>Nombre:</label>
                  <input required type="text" class="form-control" [(ngModel)]= "user.name" name="name" />
                </div>
                <div class="form-group">
                  <label>Fecha de Nacimiento:</label>
                  <input required type="date" min="1900-01-01" max="2005-12-31" class="form-control" [(ngModel)]= "user.birthDate" name="birthDate" />
                </div>
                <div class="form-group">
                  <select required class="browser-default custom-select" [(ngModel)]="user.idDependency" name="dependency">
                    <option disabled selected>Seleccione Dependencia</option>
                    <option *ngFor="let dependency of listDependency" value="{{dependency.idDependency}}">{{dependency.nameDependency}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <div class="custom-control custom-switch">
                    <input required name="status" type="checkbox" class="custom-control-input" id="customSwitch2" [(ngModel)]= "user.status" />
                    <label class="custom-control-label" for="customSwitch2">Estado</label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="updateCancel()">Cancelar</button>
        <button type="button" data-dismiss="modal" (click)="update()" class="btn btn-danger">Guardar</button>
      </div>
    </div>
  </div>
</div>


